.navbar {
    margin-top: -8;
    margin-left: -8;
    padding: 0;
    height: 48px;
    width: 100.86%;
    min-height: 48px;
    background: #ff520e;
    align-items: center;
    display: flex;
}

.navbar_btn {
    display: block;
    height: 100%;
    white-space: nowrap;
    padding: 0 1rem;
    margin: 0;
    font-weight: 400;
    border: none;
    border-radius: 0;
    background: none;
    cursor: pointer;
    transition-duration: 0.3s, 0.1s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    line-height: 48px;
    color: #eeeeee;
    font-size: 1.02rem;
}

.navbar_btn:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .24);
}

.navbar_btn-exit {
    background-image: url(https://static6.smart-school.net/smsc/svg/exit_ic_white/exit_ic_white_24x24.svg);
    width: 13px;
    overflow: hidden;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-left: auto;
}

body {
    background-color: #ffffff;
}

.option_btn {
    padding: 14px;
    border-radius: 4px;
    border: 2px solid #ff520e;
    background-color: #ff520e;
    font-size: 18px;
    color: white;
    text-align: center;
    cursor: pointer;
}

.option_btn.off {
    background-color: #ffffff;
    border: 2px solid rgb(219, 219, 219);
    color: rgb(59, 59, 59);
}

.option_btn:hover {
    background-color: #df470b;
    transition: 725ms;
}

.option_btn.off:hover {
    background-color: rgb(226, 226, 226);
}

.color_picker {
    cursor: pointer;
    width: 120px;
    height: 50px;
    padding: 0.3%;
    border: none;
    border-radius: 5px;
}

div {
    color: grey;
    font-weight: 400;
    font-size: 18px;
}